@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background: #f6f5f7;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: #3E363F;
    /**/
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

#contenedor {
    width: 800px;
    height: 350px;
    text-align: center;
    /* Estas 3 lineas se encargan de centrar el div vertical y horizontalmente */
    position: absolute;
    inset: 10% 0 0 0 ;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
}

#contenedor2 {
    width: 800px;
    height: 170px;
    text-align: top;
    inset: 0;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    display: none;
}

#calculadora {
    background: white;
    width: 100%;
    height: 100%;
    float: left;
}

#detalle {
    background: #4144ff;
    width: 100%;
    height: 100%;
    float: left;
    color: #f6f5f7;
}
#hol{
    display: none;
}
#msc{
    display: none;
}

#ten{
    display: none;
}
#mte{
    display: none;
}
input {
    width: 70%;
    padding: 12px 15px;
    border: none;
    background-color: #eee;
    font-family: 'Press Start 2P', cursive;
    font-size: 7px;
}

button {
    font-size: 15px;
    font-weight: bold;
    padding: 12px 45px;
    border-radius: 30px;
    background-color: #4144ff;
    border: 1px solid #415eff;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: transform 20ms ease-in;
}
.enlace {
    padding: 5px 10px;
    font-size: 12px; 
    cursor: pointer; 
    text-decoration: underline;
  }
  
button:active {
    transform: scale(0.95);
}

#error {
    color: red;
    font-weight: bold;
    display: none;
}

.resultado {
    color: #0A81D1;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
}

@media only screen and (max-width: 768px) {
    #detalle {
        background: #4144ff;
        width: 100%;
        height: 100%;
        float: left;
        color: #f6f5f7;
    }
    #calculadora {
        background: white;
        width: 100%;
        height: 100%;
        float: left;
    }
    #contenedor2 {
        height: 220px;
    }

    #contenedor {
        width: 450px;
        height: 350px;
        text-align: center;
        /* Estas 3 lineas se encargan de centrar el div vertical y horizontalmente */
        position: absolute;
        inset: 25% 0 0 0 ;
        margin: auto;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
    }
}